.header {
    background-color: #fff;
    display: flex;
    align-items: CENTER;
    padding: 6px 8px 10px;
}

.header__logo {
    background-image: url("images/logo.png");
    background-size: contain;
    width: 126px;
    height: 47px;
}

.header__action {
    line-height: 16px;
    height: 16px;
    margin-top: 14px;
    opacity: 0.7;
    border-left: 1px solid rgba(0, 0, 0, 0.7);
    padding-left: 10px;
}

.table-header {
    text-align: start;
}

.information {
    margin-left: auto;
    margin-right: 8px;
    position: relative;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.information__icon {
    font-size: 20px;
}

.information__name {
    margin-left: 6px;
    font-size: 14px;
}

.information__popover::before {
    content: '';

}

.information__popover {
    position: absolute;
    display: none;
    top: calc(100% - 2px);
    right: 0;
    background-color: #fff;
    width: 160px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.information__popover-item {
    font-size: 15px;
    padding: 6px 4px;
    color: #000;
    display: block;
    text-decoration: none;
}

.information__popover-item:hover {
    color: #000;
}

.information__popover-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.information:hover .information__popover {
    display: block;
}

.login-box, .register-box {
    display: flex;
    width: 320px;
    margin: auto;
    justify-content: center;
    flex-direction: column;
}

.login-form, .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__heading-text, .register__heading-text {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.form-group {
    width: 280px;
}

.submit-btn {
    background-color: #37BDDB !important;
    color: #fff !important;
    width: 160px;
    margin-top: 20px;
}

.login__forget-password {
    margin-top: 4px;
    margin-left: auto;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #000 !important;
    text-decoration: none;
}

.login__fail-message {
    color: red;
    margin-left: 20px;
    margin-bottom: 20px;
}

.admin__update-box {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px auto auto;
}

.admin__update-form {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin__update__form-group {
    width: 320px;
    margin-bottom: 2px;
}

.admin__update__btn {

    margin-top: 16px;
}

.admin__update__error-message {
    color: red;
    margin-left: 22px;
    margin-bottom: 20px;
}

.admin__forgot-password-message {
    text-align: center;
    margin: 160px auto auto;
    font-size: 24px;
    line-height: 30px;
    color: green;
}

.admin__update__success-message {
    color: green;
    margin-bottom: 20px;
    font-size: 18px;
}


/*CUSTOMER*/
.user-header {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.user-header__contact {
    display: flex;
    margin-left: 10px;
}

.user-header__phone {
    display: block;
}

.user-header__phone i {
    color: #F24E1E;
    cursor: pointer;
}

.user-header__phone__text {
    margin-left: 4px;
    text-decoration: none;
    color: #000;
}

.user-header__social {
    padding: 0 8px;
}

.user-header__social:before {
    height: 8px;
    content: "";
    border-left: 1px solid rgba(0, 0, 0, 0.6);
    margin-right: 8px;


}

.user-header__facebook-icon {
    color: #3c28ca;
}

.user-header__insta-icon {
    color: #f03a0a;
}

/* REGISTER */
.register__gender-option {
    margin-right: 10px;
}

.register__accept-policy {

    display: flex;
    align-items: center;
    margin-top: 12px;

}

.accept-policy {

    margin-left: 10px;

}

.register__gender {
    margin-top: 6px;
}

.register-suggestion {
    margin-left: 20px;
    margin-top: 12px;
}

.register-suggestion-link {
    color: forestgreen;
}

/* CUSTOMER HEADER */
.user__information {
    margin-left: auto;
    margin-right: 12px;
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.user__information__icon {

    font-size: 20px;
}

.user__information__name {
    margin-left: 4px;
}

.user__information__popover:before {
    content: "";
}

.user__information__popover {
    position: absolute;
    display: none;
    top: calc(100% - 2px);
    right: 0;
    background-color: #fff;
    width: 160px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.user__information__popover-item {
    font-size: 15px;
    padding: 6px 4px;
    color: #000;
    display: block;
    text-decoration: none;
}


.user__information__popover-item:hover {
    color: #000;
    background-color: rgba(0, 0, 0, 0.1);
}

.user__information:hover .user__information__popover {
    display: block;
}

/*CUSTOMER - MANAGE ACCOUNT*/
.user__manage-account {
    background-color: var(--bg-color);
    padding: 10px 0 30px;
}

.user__manage-account__menu {

}

.user__manage-account__menu__heading {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    text-align: center;
    padding-bottom: 26px;
    margin-top: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}


.user__manage-account__menu-item {
    display: flex;
    flex-wrap: wrap;
}

.user__manage-account__menu-item__text {

    margin-top: 3px;
}

.user__manage-account__menu-item i {
    margin-right: 8px;
    color: #1414de;
    font-size: 20px;
}

.user__manage-account__profile-list {

    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    margin-top: 8px;
    margin-bottom: 8px;

}
.user__manage-account__menu-item__text,
.user__manage-account__profile-item {
    color: #000;
    text-decoration: none;
}
.user__manage-account__profile-item{
    padding: 6px 0;
    font-size: 15px;
}
.user__manage-account__profile-item:hover, .user__manage-account__menu-item__text:hover {
    color: #ee4d2d;
}

.user__manage-account__content {
    padding: 16px 24px 120px;
    margin-left: 24px;
    background-color: #fff;
}

.user__manage-account__content__header {

    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding-bottom: 16px;

}

.user__manage-account__content__text-heading {

    font-size: 18px;

}

.user__manage-account__content__text-description {

    font-size: 15px;
    margin-top: 6px;
    color: rgba(0, 0, 0, 0.7);

}

.user__manage-account__menu-list {
    padding-top: 20px;
}

.user__manage-account__content__main {
    margin-top: 20px;
    font-size: 15px;
}

.user__manage-account__profile-form-group {
    margin-bottom: 16px;
    font-size: 15px;
}

.user__manage-account__profile-form-group > label {
    width: 140px;
    text-align: end;
    margin-right: 20px;
    color: #777777;
}

.user__manage-account__profile-form-group > input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 4px;
    width: 360px;
}

.user__manage-account__gender-group {
    display: flex;
}

.user__manage-account__gender-option label {
    margin-right: 6px;
}

.user__manage-account__gender-option input {
    transform: translateY(2px);
}

.user__manage-account__gender-option {
    margin-right: 20px;
}

.user__manage-account__gender-option label {
    padding-right: 4px;
}

.user__manage-account__profile__submit-btn {
    margin-top: 40px;
    margin-left: 164px;
    padding: 4px 0;
    font-size: 15px;
}
.user__manage-account__change-recipient-phone, .user__manage-account__forgot-password{
    margin-left: 20px;
}
.user__manage-account__menu-tab.active{
    color: #ee4d2d;
}
/*USER PURCHASE*/
.user__manage-account__purchase-content{
    padding: 0 24px 20px;
    margin-top: 10px;

}
.user__manage-account__purchase-bar{
    background-color: #fff;
    padding: 14px;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.user__manage-account__purchase-item{
    width: 25%;
    text-align: center;
    color: #000;
    text-decoration: none;
}

.user__manage-account__purchase-list{
    margin-top: 12px;
    background-color: #fff;
}
.user__password__changing__success-message{
    margin-top: 40px;
    margin-left: 164px;
    padding: 4px 0;
    font-size: 15px;
}
.user__wrong__confirmed__password-message{
    margin-top: 40px;
    margin-left: 164px;
    padding: 4px 0;
    font-size: 15px;
}
.user__wrong__old__password-message{
    margin-top: 40px;
    margin-left: 164px;
    padding: 4px 0;
    font-size: 15px;
}

