.user-header {
    display: flex;
    width: 100%;
    padding: 10px 0 8px;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 20;
}

.user-header__contact {
    display: flex;
    margin-left: 10px;
}

.user-header__phone {
    display: block;
}

.user-header__phone i {
    color: #F24E1E;
    cursor: pointer;
}

.user-header__phone__text {
    margin-left: 4px;
    text-decoration: none;
    color: #000;
}

.user-header__social {
    padding: 0 8px;
}

.user-header__social:before {
    height: 8px;
    content: "";
    border-left: 1px solid rgba(0, 0, 0, 0.6);
    margin-right: 8px;


}

.user-header__facebook-icon {
    color: #3c28ca;
}

.user-header__insta-icon {
    color: #f03a0a;
}

.content {
    background-color: rgba(0, 0, 0, 0.04);
    padding-top: 16px;
    padding-bottom: 16px;
}

.header {
    top: 32px;
    padding-top: 10px;
}

.content {
    margin-top: 95px;
}

.search {
    flex-grow: 1;
    margin-top: 6px;
}

.search-form {
    display: flex;
}

.search-input {
    flex-grow: 1;
    font-size: 13px;
    padding: 0 12px;
}

.cart {
    width: 120px;
    font-size: 32px;
    text-align: center;
    color: var(--primary-color);
}