
.order__time-line {
    width: 50%;
}
.order__time-line-item {
    display: flex;
}
.order__time-line-item__name {
    font-weight: 500;
    font-size: 16px;
}
.order__time-line-item__value {
    margin-left: 10px;
}